<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
      html {
        color: tomato;

      }
    </style>

  </head>
  <body>
    <h1>Hallo liebe Freunde</h1>
    <p><strong>Willkommen in meinem Blog!</strong></p><br>

    <div>
        <p>published: 28.12.2020, 23:14</p>
        <h2><a href="">Post #1</a></h2>
        <p>Hejo, hier sind wir mit unserem neuen Blog über Raubfische. Hier unser erster Beitrag.</p>
    </div>

    <div>
        <p>published: 28.12.2020, 23:15</p>
        <h2><a href="">Post #2</a></h2>
        <p>Und hier ist der zweite Beitrag</p>
    </div>



  </body>
</html>
