h1 a, h2 a {
    color: #C25100;
    font-family: 'Ubuntu', sans-serif;
}

h2, h2 a{
    color: teal !important;
    padding-top: 0px;
    margin-top: 0px;
}
.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    color: #964949;
    margin-bottom: 10px;
    margin-top: 40px !important;
}


